<br/>
<section id="footer">
  <div class="container-footer">
    <div class="panel-footer">
      <div class="row">
        <div class="col-12">
          {% if site.contact %}
            <h5>Contact</h5>
            <p>
              <strong>Office:</strong><br>
              {% for address in site.contact.office_addresses %}
                {{ address }}<br>
              {% endfor %}
              
              <strong>Email:</strong><br> {% for email in site.contact.emails %}
                <a href="mailto:{{ email }}">{{ email }}</a><br>
              {% endfor %}
            </p>
          {% endif %}
        </div>
        </div>

      <center><p>&copy; {{ "now" | date: "%Y" }} {{ site.title | escape }}</p></center>
    </div>
  </div>
</section>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>

